:root {
  --primary-bg: #eee;
}

body {
  margin: 0;
  font-family: "Roboto";
}

.header {
  display: flex;
  align-items: center;
}

.header__title {
  text-decoration: none;
  background: url("./assests/img/logo.png") no-repeat;
  padding-left: 60px;
  background-size: 60px 60px;
  font-family: "Roboto", serif;
  color: #000;
}

.nav {
  margin-left: auto;
  padding-right: 10px;
  display: none;
}

.navbar {
  list-style-type: none;
}

.nav__item {
  display: inline-block;
}

.nav__link {
  text-decoration: none;
  padding: 5px 10px;
  font-family: "Roboto", serif;
  color: #000;
}

.overlay__menu {
  list-style: none;
  position: absolute;
  background-color: #fbf7f5;
  transition: all 0.6s ease;
  z-index: 3;
  margin-top: 0;
  height: 100vh;
  padding: 0;
  top: 0;
  right: 0;
  width: 0;
  overflow: hidden;
}

.menu__item {
  display: flex;
}

.menu__link {
  padding: 30px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.active {
  border-bottom: 2px solid red;
}

.showcase {
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.showcase:before {
  content: "";
  background: url("./assests/img/showcase.png") no-repeat center/cover fixed;
  width: 100%;
  height: 200px;
  z-index: -1;
  position: absolute;
}

.showcase__title {
  font-family: "Roboto", serif;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 100;
}

.showcase__link {
  text-transform: uppercase;
  color: #fff;
  font-family: "Roboto";
  font-weight: 100;
  border: 1px solid #fff;
  padding: 5px 10px;
  margin: 0 20px;
  font-size: 1em;
  border-radius: 25px;
}

/** Row text and image group **/
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.row--primary {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  background-color: var(--primary-bg);
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.row-img {
  max-width: 100%;
  display: block;
  box-sizing: border-box;
  height: auto;
}

.content-container {
  box-sizing: border-box;
}

.content__title {
  border-top: 1px solid #000;
  padding-top: 20px;
  display: inline-block;
}

.card-group--3 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.section__header {
  width: 100%;
  margin: 10px;
  border-bottom: 1px solid #c4c4c4;
  font-weight: normal;
}

.card-container {
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px 0 10px;
  display: flex;
}

.card {
  margin-top: 5px;
  padding: 5px 20px;
  box-shadow: 3px 2px 5px var(--primary-bg);
  background-color: #fff;
}

.card__banner {
  background: #ff5f6d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ffc371,
    #ff5f6d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ffc371,
    #ff5f6d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 5px;
  margin: -5px -20px;
}

.card__title {
  text-align: center;
}

.card__content {
  text-align: justify;
}

.card__read-more {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  border-radius: 25px;
  background-color: skyblue;
  text-decoration: none;
}

.footer {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  background-color: var(--primary-bg);
  border-top: 1px solid #c4c4c4;
  padding: 10px;
}

.menu-toggle:checked ~ .overlay__menu {
  width: 160px;
  padding: 20px 60px;
}

.menu__link:hover {
  color: orange;
}

.nav__link:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 600px) {
  .nav {
    display: block;
  }
  .wrapper {
    display: none;
  }
  .menu-toggle {
    display: none;
  }

  .showcase {
    height: 100vh;
  }

  .showcase:before {
    height: 100vh;
  }

  .showcase__title {
    font-size: 3em;
  }

  .showcase__link {
    padding: 10px 20px;
  }

  .card-container {
    width: 50%;
  }

  .row-img {
    max-width: 50%;
    padding-right: 30px;
    border-right: 1px solid #000;
  }

  .content-container {
    width: 50%;
    padding-left: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .card-container {
    width: 33.333%;
  }

  .quotes-container {
    width: 749px;
  }
}

@media only screen and (min-width: 1000px) {
  .card-group--3 {
    width: 980px;
    margin: auto;
  }
}
