.wrapper {
    margin-left: auto;
    z-index: 4;
}

.burger {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.menu-toggle {
    width: 40px;
    height: 40px;
    right: 10;
    top: 10;
    z-index: 5;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.burger-lines {
    position: relative;
    height: 1px;
    width: 50%;
    background: #000;
}

.burger-lines:before {
    content: '';
    position: absolute;
    top: -5px;
    height: 1px;
    width: 50%;
    background: #000;
}

.burger-lines:after {
    content: '';
    position: absolute;
    top: 5px;
    height: 1px;
    width:75%;
    background: #000;
}

.menu-toggle:checked + .wrapper >.burger {
    transform: rotate(135deg);
}

.menu-toggle:checked + .wrapper > .burger > .burger-lines:after,
.menu-toggle:checked + .wrapper > .burger > .burger-lines:before {
    width: 100%;
    top: 0;
    transform: rotate(90deg);
}